@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #FA9E31;
  --clr-secoundary: #FFF6DE;
  --clr-text: #343434;
  --clr-text-faded: #666666;
  --clr-input-background: #EDEDED;
  --clr-background: #FAFAFA;
}

body {

}

